body {
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    display: flex;
    gap: 48px;
}



.link a {
    text-decoration: none;
    color: #000;
}

.link li {
    list-style: none;

}

@media screen and (max-width: 768px) {
    .sm-hidden {
        display: none;
    }

}


.head-banner {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 39px;

}

.head-banner h1 {
    font-size: 65px;
    font-weight: bold;
}

.head-banner p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

.yellow-color {
    color: #E95A08;
}


@media screen and (max-width: 768px) {
    .head-banner {
        flex-direction: column-reverse;
        text-align: start;

    }

    .img-box img {
        width: 100%;
    }

    .head-banner h1 {
        font-size: 24px;
        font-weight: bold;
    }

    .head-banner p {
        font-size: 14px;
    }

}


/*  */
.plant-section {
    margin-bottom: 100px;
}

.plant-section h1 {
    font-size: 50px;
    text-align: center;
}

.plant-section p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;

}

.card {
    width: 270px;
    align-items: center;
    text-align: center;
}

.btn {
    width: 100%;
    padding: 18px;
    background-color: #E95A08;
    border: none;
    color: white;
    font-weight: 600;
}

.plant-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .plant-cards {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
    }

    .card img {
        width: 171px;
    }

    .card {
        width: 171px;
    }

    .plant-section p {
        font-size: 14px;
    }


}


/*  */

.plant-lover-section {
    display: flex;
}

.plant-lover-section img {
    width: 540px;

}

.plant-lover-section ul>li {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);

}

@media screen and (max-width: 768px) {
    .plant-lover-section {
        flex-direction: column;
        text-align: start;
    }

    .plant-lover-section img {
        width: 100%;
    }

    .plant-lover-section ul>li {
        font-size: 14px;
    }

}



/*  */

.deal-section {
    margin-top: 133px;
}

.deal-section h1 {
    font-size: 50px;
    text-align: center;

}

.deal-section p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}