/* Google font  */

.tiktok-sans-font {
    font-family: "TikTok Sans", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100;
}



body {
    max-width: 1140px;
    margin: 0 auto;
}



.link-for-mobile {
    display: none;
}


/* nav style start */

nav {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.home {
    font-weight: bold;
}

.trolley {
    width: 24px;
    height: 24px;
}

.link a {
    text-decoration: none;
    color: #000;
}

.trolley-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.link li {
    list-style: none;

}

.about a,
.shop a {
    color: #8987A1;
}

/* media query navbar for small device */

@media screen and (max-width: 768px) {
    .sm-hidden {
        display: none;
    }

    nav {
        margin: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }

}

/* end */


/* header style start */

.head-banner {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 39px;

}

.head-banner h1 {
    font-size: 65px;
    font-weight: bold;
}

.head-banner p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

.yellow-color {
    color: #E95A08;
}

/* header style end */



/* media query head section for small device */
@media screen and (max-width: 576px) {
    .head-banner {
        flex-direction: column-reverse;
        text-align: start;
    }

    .img-box img {
        width: 100%;
        height: 245px;
        margin: 0 auto;
    }

    .head-banner h1 {
        font-size: 24px;
        font-weight: bold;
    }

    .head-banner p {
        font-size: 14px;
    }
}


/* end */

/* plant section style start */
.plant-section {
    margin-top: 120px;
}

.plant-section h1 {
    font-size: 50px;
    text-align: center;
}

.plant-section p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.card {
    width: 270px;
    align-items: center;
    text-align: center;
}

.btn {
    width: 100%;
    padding: 18px;
    background-color: #E95A08;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(49, 230, 109);
}

.plant-cards {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}



/* end */


/* media query plant section for small device */
@media screen and (max-width: 576px) {

    .plant-section {
        width: 362px;
        margin: 0 auto;
    }

    .plant-cards {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;

    }

    .card h2 {
        font-size: 16px;
        font-weight: 400;
    }

    .card h3 {
        font-size: 16px;
        font-weight: bold;
    }

    .btn {
        font-size: 16px;
        font-weight: 300px;
    }

    .card img {
        width: 171px;
    }

    .card {
        width: 171px;
    }

    .plant-section h1 {
        font-size: 24px;
        text-align: center;
    }

    .plant-section p {
        font-size: 14px;
    }


}

/* end */


/* plant lover section style start */
.plant-lover-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    gap: 20px;
    width: 1140px;
    height: 597px;
}

.badge img {
    position: absolute;
    margin-top: -120px;
    margin-left: 340px;
    width: 286px;
    height: 286px;
    border-radius: 10px;
    animation: spin 7s linear infinite;
}

.flower img {
    border-radius: 5px;
    width: 540px;
}

.plant-lover-section ul>li {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);

}

.plant-lover-text {
    width: 540px;
    height: 521px;
}

.plant-lover-text h1 {
    font-size: 50px;
    font-weight: bold;
}

/* end */


/* media query plant lover section for small device */

@media screen and (max-width: 576px) {
    .plant-lover-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 361px;
        height: 648px;
    }

    .badge img {
        display: none;
    }

    .plant-lover-section img {
        width: 358px;
        height: 396px;
        margin-top: 40px;
    }

    .plant-lover-text {
        width: 358px;
        height: 252px;
        text-align: start;
    }

    .plant-lover-text h1 {
        font-size: 24px;
        font-weight: bold;
        margin-left: 14px;
    }

    .li-text {
        margin-top: 20px;
    }

    .plant-lover-section ul>li {
        font-size: 14px;

    }

}

/* end */


/* deal section style start */

.deal-section {
    margin-top: 133px;
}

.deal-section h1 {
    font-size: 50px;
    text-align: center;
}

.deal-section p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.two-card p {

    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

.deal-card-3 p {
    font-size: 28px;
    font-weight: 400;
    cursor: pointer;
    color: white;
    text-decoration: underline;
}




/* deal section style end */


/* media query deal section for small device */

@media screen and (max-width:576px) {
    .deal-section h1 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    .deal-text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }

    .deal-section p {
        font-size: 14px;

        width: 336px;
    }
}

/* end */



/* join section style start */

.join-section {
    margin-top: 120px;
    background-image: url(assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 533px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.join-section h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.input {
    display: flex;
}

.email {
    border: none;
    padding: 10px;
    width: 600px;
    height: 30px;
}

.subscribe-btn {
    width: 180px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    background-color: #E95A08;
    color: white;
    border: none;
}



/* end */

@media screen and (max-width:576px) {

    .join-section {
        height: 275px;
    }

    .join-section h1 {
        font-size: 20px;
        font-weight: bold;
        color: white;
    }

    .email {
        border: none;
        width: 218px;
        height: 30px;
    }

    .subscribe-btn {
        width: 103px;
        height: 50px;
        background-color: #E95A08;
        color: white;
        border: none;
    }
}

/* latest deals cord style start */
.latest-deals-cards {
    margin: 40px auto;
    display: flex;
    gap: 28px;
}

.latest-deals-cards h2 {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.two-card {
    width: 367px;
    height: calc(100% - 20px)/2;
}

.deal-card-1 {
    margin-bottom: 25px;
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('assets/deal-ana.png');
    background-repeat: no-repeat;
}

.deal-card-1 h2,
.deal-card-2 h2 {
    font-size: 20px;
    font-weight: bold;
}

.deal-card-1,
.deal-card-2 {
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    width: 367px;
    height: 201px;
    background-size: cover;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.deal-card-2 {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('assets/deal-bloom.png');
    background-repeat: no-repeat;
    width: 367px;
    height: 201px;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.deal-card-3 {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('assets/deal-zabo.png');
    background-repeat: no-repeat;
    width: 753px;
    background-size: cover;

    border-radius: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
}

/* latest deal card style end  */

/* media query latest deals cord for small device */

@media screen and (max-width: 576px) {
    .latest-deals-cards {

        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .deal-card-1,
    .deal-card-2,
    .deal-card-3 {
        width: 362px;
        height: 200px;
    }

    .latest-deals-cards h2 {
        font-size: 24px;
        font-weight: bold;
        color: white;
    }

}


/* end */

/* footer section style start */

.footer-container {
    width: 1120px;
    margin-top: 50px;
    display: flex;
}

.footer-container img {
    margin-bottom: 6px;
}

.footer-links li {
    list-style: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.social-logo {
    display: flex;
    gap: 20px;
}

.social-logo img {
    width: 36px;
    height: 36px;
}

.footer-container p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

.footer-links-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.links-container {
    display: flex;
    gap: 100px;
}

/* footer section style end */

/* media query footer section for small device */

@media screen and (max-width: 576px) {

    .links-container {
        display: none;
    }

    .footer-links-container {
        flex-direction: column;
        align-items: start;
    }

    .footer-container {
        width: 393px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }

    .footer-container p {
        font-size: 16px;
    }

    .footer-links {
        margin-bottom: 0;
        padding: 0;
    }

    .link-for-mobile {
        display: block;

    }
}

/* end */


/* key frames for animation */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}