.tiktok-sans-font {
    font-family: "TikTok Sans", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100;
}


body {
    max-width: 1140px;
    margin: 0 auto;
}

.link-for-mobile {
    display: none;
}

nav {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    display: flex;
    gap: 48px;
}



.link a {
    text-decoration: none;
    color: #000;
}

.link li {
    list-style: none;

}

@media screen and (max-width: 768px) {
    .sm-hidden {
        display: none;
    }

    nav {
        margin: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }

}


.head-banner {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 39px;
    margin: 0 auto;

}

.head-banner h1 {
    font-size: 65px;
    font-weight: bold;
}

.head-banner p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

.yellow-color {
    color: #E95A08;
}


@media screen and (max-width: 576px) {
    .head-banner {
        flex-direction: column-reverse;
        text-align: start;


    }

    .img-box img {
        width: 100%;
        height: 245px;
        margin: 0 auto;
    }

    .head-banner h1 {
        font-size: 24px;
        font-weight: bold;
    }

    .head-banner p {
        font-size: 14px;
    }

}


/*  */
.plant-section {
    margin-bottom: 100px;
}

.plant-section h1 {
    font-size: 50px;
    text-align: center;
}

.plant-section p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;

}

.card {
    width: 270px;
    align-items: center;
    text-align: center;
}

.btn {
    width: 100%;
    padding: 18px;
    background-color: #E95A08;
    border: none;
    color: white;
    font-weight: 600;
}

.plant-cards {
    display: grid;
    margin: 0 auto;

    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media screen and (max-width: 576px) {

    .plant-section {
        width: 362px;
        margin: 0 auto;
    }

    .plant-cards {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;

    }

    .card h2 {
        font-size: 16px;
        font-weight: 400;
    }

    .card h3 {
        font-size: 16px;
        font-weight: bold;
    }

    .btn {
        font-size: 16px;
        font-weight: 300px;
    }

    .card img {
        width: 171px;
    }

    .card {
        width: 171px;
    }

    .plant-section h1 {
        font-size: 24px;
        text-align: center;
    }

    .plant-section p {
        font-size: 14px;
    }


}


/*  */

.plant-lover-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    gap: 20px;
    width: 1140px;
    height: 597px;

}

.badge img {
    position: absolute;
    margin-top: -120px;
    margin-left: 340px;
    width: 286px;
    height: 286px;
    border-radius: 10px;
    animation: spin 7s linear infinite;


}



.flower img {
    width: 540px;

}

.plant-lover-section ul>li {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);

}

.plant-lover-text {
    width: 540px;
    height: 521px;
}

.plant-lover-text h1 {
    font-size: 50px;
    font-weight: bold;
}

/* .li-text {
    margin-top: 40px;
} */

@media screen and (max-width: 576px) {
    .plant-lover-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 361px;
        height: 648px;
    }

    .badge img {
        display: none;
    }

    .plant-lover-section img {
        width: 358px;
        height: 396px;
        margin-top: 40px;

    }

    .plant-lover-text {
        width: 358px;
        height: 252px;
        text-align: start;

    }

    .plant-lover-text h1 {
        font-size: 24px;
        font-weight: bold;
        margin-left: 14px;

    }

    .li-text {
        margin-top: 20px;
    }



    .plant-lover-section ul>li {
        font-size: 14px;

    }

}



/*  */

.deal-section {
    margin-top: 133px;
}

.deal-section h1 {
    font-size: 50px;
    text-align: center;

}

.deal-section p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

@media screen and (max-width:576px) {
    .deal-section h1 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    .deal-text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }

    .deal-section p {
        font-size: 14px;

        width: 336px;
    }
}



.join-section {
    background-image: url(assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    height: 533px;
    align-items: center;
    text-align: center;
    align-content: center;


}


/*  */


.latest-deals-cards {
    margin: 40px auto;
    display: flex;
    gap: 28px;

}

.latest-deals-cards h2 {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.two-card {

    width: 367px;
    height: calc(100% - 20px)/2;
}

.deal-card-1 {
    margin-bottom: 25px;
}

.deal-card-1,
.deal-card-2 {
    background-image: url(assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    width: 367px;
    height: 201px;
    background-size: cover;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.deal-card-2 {
    background-image: url(assets/deal-ana.png);
    background-repeat: no-repeat;
    width: 367px;
    height: 201px;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.deal-card-3 {
    background-image: url(assets/deal-zabo.png);
    background-repeat: no-repeat;
    width: 753px;
    background-size: cover;

    border-radius: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
}


@media screen and (max-width: 576px) {
    .latest-deals-cards {

        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;

    }

    .deal-card-1,
    .deal-card-2,
    .deal-card-3 {
        width: 362px;
        height: 200px;
    }

    .latest-deals-cards h2 {
        font-size: 24px;
        font-weight: bold;
        color: white;

    }

}


.footer-container {
    width: 1120px;
    margin-top: 50px;
    display: flex;
}

.footer-container img {
    margin-bottom: 6px;
}

.footer-links li {
    list-style: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.social-logo {
    display: flex;
    gap: 20px;
}

.social-logo img {
    width: 36px;
    height: 36px;

}

.footer-container p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

.footer-links-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.links-container {
    display: flex;
    gap: 100px;
}


@media screen and (max-width: 576px) {

    .links-container {
        display: none;
    }

    .footer-links-container {
        flex-direction: column;
        align-items: start;
    }

    .footer-container {
        width: 393px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }

    .footer-container p {
        font-size: 16px;

    }

    .footer-links {
        margin-bottom: 0;
        padding: 0;
    }

    .link-for-mobile {
        display: block;

    }
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}